body {
    background-color: black;
    background-image: url("../images/dragon-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

.navbar-user-info {
    position: fixed;
    right: 30px;
}

.navbar-user-item {
    margin-right: 18px;
}

.card {
    background: rgba(204, 204, 204, 0.33);
    width: 50vw;
}

.header-space {
    margin-top: 80px;
}

.info-window {
    position: fixed;
    bottom: 20px;
    right: 40px;
}

.account-dragons-window {
    background: rgba(0, 0, 0, 0.45);
    border: 1px solid white;
    border-radius: 25px; 
}

.dragon-avatar-image-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.dragon-avatar-image-pattern {
    position: absolute;
    z-index: 20;
    border-radius: 25px;
}

.dragon-avatar-image-background {
    position: absolute;
    z-index: 10;
    border-radius: 25px;
}

.dragon-avatar-image {
    position: absolute;
    z-index: 30;
    border-radius: 25px;
}

.dragon-row {
    margin: 12px 0px;
    padding: 2px 10px;
    border-radius: 10px;
}

.dragon-row:hover {
        background-color: rgba(255, 255, 255, 0.93);
        color: black;
}

.mating-row:hover {
    cursor: pointer;
}

.input-field:hover {
    cursor: pointer;
}

.dragon-row-name-change-button {
    float: right;
}

.buy-button {
    margin-left: 6px;
}

.mating-card {
    background-color:rgba(89,171,227,.2);
}

.new-dragon-button {
    margin-top: 12px;
}

.logout-button {
    float: right;
    margin-top: 12px;
}
